<input type="hidden" runat="server" id="id" value="@Model"/>


<body>
<p>@Model</p>
<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.168.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.168.0/examples/jsm/",
        "meshline": "https://cdn.jsdelivr.net/npm/meshline@3.3.1/+esm"
    }
  }
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="module" src="~/js/site.js" asp-append-version="true"></script>
</body>